<% provide(:title, 'Enter Details') %>
<% provide(:heading, 'Enter Details') %>
<% provide(:footer_class, "class=container_footer") %>

<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages' %>
  <div class="field_line">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field_line">
    <%= f.label :last_name%>
    <%= f.text_field :last_name%>
  </div>

  <div class="field_line">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field_line">
    <%= f.label :job_title %>
    <%= f.text_field :job_title %>
  </div>

  <div class="field_line">
    <%= f.label :dealership %>
    <%= f.collection_select(:dealership_id, Dealership.all, :id, :name, { prompt: true }) %>
  </div>

  <div class="field_line">
    <%= f.submit "Begin Test", class: "test_button" %>
  </div>
<% end %>
